$backgroundcolor:#F9F9F9;
.min{
    min-width:1100px;
    overflow-x:hidden;
}

#hotBrand{
    box-sizing:border-box;
    background-color:$backgroundcolor;
    height:385px;
    padding-top:15px;
    .Brand{
        box-sizing:border-box;
        height:105px;
        padding:0 10px;
        background-color:#fff;
        h3{
            display:inline-block;
            width:120px;
            font-size:16px;
            text-align:center;
            line-height:95px;
            font-weight:bold;
        }
        a{
            img{
                height:95px;
                width:110px;
            }
        }
    }
    .advertise{
        clear:both;
        padding-top:15px;
    }
}
#merchandise{
    background-color:$backgroundcolor;
    h3{
        padding:15px;
        font-size:24px;
        line-height:30px;
        font-weight:bold;
        span{
            color:#999999;
            font-size:18px;
            margin-left:20px;
            font-weight:normal;
        }
    }
    .recommend{
        ul{
            border-top:1px solid #E5E5E5;
            border-left:1px solid #E5E5E5;
            background-color:#fff;
            li{
                float:left;
                box-sizing:border-box;
                width:219.8px;
                height:335px;
                border-right:1px solid #E5E5E5;
                border-bottom:1px solid #E5E5E5;

            }
        }
    }
}