.logIn {
    .logIn_t{
        padding:80px 40px 60px 40px;
        .logIn_l{
            float:left;
            height:420px;
            width:630px;
            background:url("../img/logo.png") 20px top no-repeat,url("../img/logIn.jpg") right bottom no-repeat;
            text-indent:-10000px;
        }
        .logIn_r{
            float:left;
            height:420px;
            width:380px; 
            padding-top:40px;
            form{
                box-sizing:border-box;
                width:350px;
                border:2px solid #F7F7F7;
                box-shadow: 0 0 1px 1px #F7F7F7 inset;
                padding:5px 20px 0 20px;
                p{
                    height:40px;
                    width:300px;
                    margin:14px 0;
                    font-size:20px;
                    line-height:40px;
                    span{
                        font-size:13px;
                        a{
                            color:#000;
                            &:hover{
                                color:#F450A2;
                            }
                        }
                    }
                    &.p3,&.p2{
                        border:1px solid #CFCFCF;
                        box-shadow: 0 0 1px 1px #EEEEEE inset;
                        padding-left:10px;
                        i{
                            font-size:20px;
                            color:#ccc;
                        }
                        input{
                            font-size:14px;
                        }
                    }
                    &.p4{
                        input{
                            box-sizing:border-box;
                            width:148px;
                            height:40px;
                            border:1px solid #CFCFCF;
                            box-shadow: 0 0 1px 1px #EEEEEE inset;
                            padding-left:10px;
                            font-size:14px;
                            margin-right:10px;
                        }
                        button{
                            box-sizing:border-box;
                            width:142px; 
                            height:40px;
                            border:1px solid #CFCFCF;
                            font-size:14px;
                            background-color:#F9F9F9;
                        }
                    }
                    &.p5{
                        input{
                            height:40px;
                            width:280px;
                            text-align:center;
                            background-color:#F450A2;
                            font-size:18px;
                            color:#fff;
                        }
                    }
                    &.p6{
                        a{
                            font-size:26px;
                            &:nth-child(2){
                                color:#58bc58;
                            }
                            &:nth-child(3){
                                color:#FFB0B1;
                            }
                        }
                    }
                }
            }
        }
    }
    .logIn_b{
        font-size:13px;
        color:#CFCCCF;
        padding-left:100px;
    }
}