.min {
  min-width: 1100px;
  overflow-x: hidden;
}

#hotBrand {
  box-sizing: border-box;
  background-color: #F9F9F9;
  height: 385px;
  padding-top: 15px;
}

#hotBrand .Brand {
  box-sizing: border-box;
  height: 105px;
  padding: 0 10px;
  background-color: #fff;
}

#hotBrand .Brand h3 {
  display: inline-block;
  width: 120px;
  font-size: 16px;
  text-align: center;
  line-height: 95px;
  font-weight: bold;
}

#hotBrand .Brand a img {
  height: 95px;
  width: 110px;
}

#hotBrand .advertise {
  clear: both;
  padding-top: 15px;
}

#merchandise {
  background-color: #F9F9F9;
}

#merchandise h3 {
  padding: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

#merchandise h3 span {
  color: #999999;
  font-size: 18px;
  margin-left: 20px;
  font-weight: normal;
}

#merchandise .recommend ul {
  border-top: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  background-color: #fff;
}

#merchandise .recommend ul li {
  float: left;
  box-sizing: border-box;
  width: 219.8px;
  height: 335px;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

#merchandise .recommend ul li a {
  display: block;
}

#merchandise .recommend ul li a img {
  height: 219px;
  width: 219px;
}

#merchandise .recommend ul li a .details {
  padding: 8px;
}

#merchandise .recommend ul li a .details p {
  font-size: 13px;
  line-height: 21px;
  color: #000;
}

#merchandise .recommend ul li a .details p:nth-child(1) {
  font-weight: bold;
}

#merchandise .recommend ul li a .details .price {
  padding: 15px 0;
  float: left;
  font-size: 13px;
  line-height: 21px;
}

#merchandise .recommend ul li a .details .price span {
  color: #000;
}

#merchandise .recommend ul li a .details .price span i {
  text-decoration: line-through;
}

#merchandise .recommend ul li a .details .price span:nth-child(1) {
  color: #FF4A49;
}

#merchandise .recommend ul li a .details .price span:nth-child(1) i {
  font-size: 20px;
  text-decoration: none;
}

#merchandise .recommend ul li a .details .pintuan {
  float: right;
  padding: 15px 0;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
}

#merchandise .recommend ul li a .details .pintuan span {
  color: #000;
  padding: 4px;
}

#merchandise .recommend ul li a .details .pintuan span.btn {
  background-color: #FF4A49;
  color: #fff;
  border-radius: 20px;
}
