.min {
  min-width: 1100px;
  overflow-x: hidden;
}

#hotBrand {
  box-sizing: border-box;
  background-color: #F9F9F9;
  height: 385px;
  padding-top: 15px;
}

#hotBrand .Brand {
  box-sizing: border-box;
  height: 105px;
  padding: 0 10px;
  background-color: #fff;
}

#hotBrand .Brand h3 {
  display: inline-block;
  width: 120px;
  font-size: 16px;
  text-align: center;
  line-height: 95px;
  font-weight: bold;
}

#hotBrand .Brand a img {
  height: 95px;
  width: 110px;
}

#hotBrand .advertise {
  clear: both;
  padding-top: 15px;
}

#merchandise {
  background-color: #F9F9F9;
}

#merchandise h3 {
  padding: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

#merchandise h3 span {
  color: #999999;
  font-size: 18px;
  margin-left: 20px;
  font-weight: normal;
}

#merchandise .recommend ul {
  border-top: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  background-color: #fff;
}

#merchandise .recommend ul li {
  float: left;
  box-sizing: border-box;
  width: 219.8px;
  height: 335px;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

#merchandise .recommend ul li a {
  display: block;
}

#merchandise .recommend ul li a img {
  height: 219px;
  width: 219px;
}

#merchandise .recommend ul li a .details {
  padding: 8px;
}

#merchandise .recommend ul li a .details p {
  font-size: 13px;
  line-height: 21px;
  color: #000;
}

#merchandise .recommend ul li a .details p:nth-child(1) {
  font-weight: bold;
}

#merchandise .recommend ul li a .details .price {
  padding: 15px 0;
  float: left;
  font-size: 13px;
  line-height: 21px;
}

#merchandise .recommend ul li a .details .price span {
  color: #000;
}

#merchandise .recommend ul li a .details .price span i {
  text-decoration: line-through;
}

#merchandise .recommend ul li a .details .price span:nth-child(1) {
  color: #FF4A49;
}

#merchandise .recommend ul li a .details .price span:nth-child(1) i {
  font-size: 20px;
  text-decoration: none;
}

#merchandise .recommend ul li a .details .pintuan {
  float: right;
  padding: 15px 0;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
}

#merchandise .recommend ul li a .details .pintuan span {
  color: #000;
  padding: 4px;
}

#merchandise .recommend ul li a .details .pintuan span.btn {
  background-color: #FF4A49;
  color: #fff;
  border-radius: 20px;
}

#merchandise .todaySale .mold {
  background-color: #fff;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
}

#merchandise .todaySale .mold > a {
  display: inline-block;
}

#merchandise .todaySale .mold > a img {
  width: 730px;
  height: 375px;
}

#merchandise .todaySale .mold .maidian {
  box-sizing: border-box;
  float: right;
  width: 350px;
  padding: 0 10px;
}

#merchandise .todaySale .mold .maidian li {
  border-bottom: 1px dashed #eee;
  padding: 10px;
}

#merchandise .todaySale .mold .maidian li a {
  display: block;
}

#merchandise .todaySale .mold .maidian li a img {
  height: 85px;
  width: 90px;
}

#merchandise .todaySale .mold .maidian li a .part {
  float: right;
  width: 185px;
  font-size: 13px;
  color: #000;
  line-height: 21px;
  padding: 5px 0;
}

#merchandise .todaySale .mold .maidian li a .part p {
  padding-bottom: 5px;
}

#merchandise .todaySale .mold .maidian li a .part span {
  text-decoration: line-through;
  margin-right: 10px;
}

#merchandise .todaySale .mold .maidian li a .part span:nth-child(1) {
  color: #FA4B9B;
  text-decoration: none;
  font-size: 20px;
}

#merchandise .todaySale .mold .maidian li:last-child {
  border-bottom: 1px none;
}

#merchandise .bsetproduct {
  padding: 10px 0;
}

#merchandise .bsetproduct .trademark {
  background-color: #fff;
  padding: 10px;
}

#merchandise .bsetproduct .trademark .trade_t {
  box-sizing: border-box;
  height: 118px;
  padding: 10px;
}

#merchandise .bsetproduct .trademark .trade_t a {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  height: 80px;
  line-height: 80px;
}

#merchandise .bsetproduct .trademark .trade_t a img {
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#merchandise .bsetproduct .trademark .trade_t a span {
  margin-left: 20px;
}

#merchandise .bsetproduct .trademark .trade_t a i {
  border: 1px solid #FAA8CD;
  border-radius: 19px;
  padding: 10px 15px;
}

#merchandise .bsetproduct .trademark ul li {
  float: left;
  width: 216px;
  text-align: center;
}

#merchandise .bsetproduct .trademark ul li a {
  display: block;
}

#merchandise .bsetproduct .trademark ul li a p {
  font-size: 14px;
  line-height: 24px;
}

#merchandise .bsetproduct .trademark ul li a p:nth-child(3) {
  font-size: 20px;
  color: #FAA8CD;
}

#merchandise .bsetproduct .trademark ul li a p:nth-child(3) span {
  color: #ccc;
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 10px;
}

#merchandise .bsetproduct .trademark ul li a p:nth-child(2) {
  height: 50px;
}
